img.cupcake {
	display:block;
margin: 0 auto;
border: 3px solid #461BE0;
border-radius: 25px;
box-shadow: 10px 10px 25px #000;
width: 345px;
height: 300px;
padding: 5px;
}

img.cupcake:hover {
	width: 400px;
	height: 400px;
}

img.cupcake:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

img.cupcake:hover
{
transition: width 2s;
-webkit-transition: width 2s; /* Safari */
}

ul {
	list-style-type: square;
}

body {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	margin-left: 40px;
	margin-right: 50px;
	background-image: url('images/background.jpg');
	background-attachment: fixed;

}


h1 {
	font-family: "arial", sans-serif;
	font-size: 36px;
	text-decoration: underline;
	
	
}

h2 {
	font-family: "arial", sans-serif;
	font-size: 28px;
	text-decoration: underline;
	
}

h3 {
	font-family: "arial", sans-serif;
	font-size: 14px;
	
}

.ingredient li {
	list-style-position: inside;

}

img.pan {
	display: block;
	margin: 0 auto;
	border: 3px solid #461BE0;
	border-radius: 25px;
	box-shadow: 10px 10px 25px #000;
	width: 345px;
	height: 300px;
	padding: 5px;
}

img.pan:hover {
	width: 400px;
	height: 400px;
}

img.pan:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

img.pan:hover
{
transition: width 2s;
-webkit-transition: width 2s; /* Safari */
}



img.mix {
	display: block;
	margin: 0 auto;
	border: 3px solid #461BE0;
	border-radius: 25px;
	box-shadow: 10px 10px 25px #000;
	width: 345px;
	height: 300px;
	padding: 5px;
}

img.mix:hover {
	width: 400px;
	height: 400px;
}

img.mix:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

img.mix:hover
{
transition: width 2s;
-webkit-transition: width 2s; /* Safari */
}


img.cool {
	display: block;
	margin: 0 auto;
	border: 3px solid #461BE0;
	border-radius: 25px;
	box-shadow: 10px 10px 25px #000;
	width: 345px;
	height: 300px;
	padding: 5px;
}

img.cool:hover {
	width: 400px;
	height: 400px;
}

img.cool:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

img.cool:hover
{
transition: width 2s;
-webkit-transition: width 2s; /* Safari */
}


img.fini {
	display: block;
	margin: 0 auto;
	border: 3px solid #461BE0;
	border-radius: 25px;
	box-shadow: 10px 10px 25px #000;
	width: 345px;
	height: 300px;
	padding: 5px;
}

img.fini:hover {
	width: 400px;
	height: 400px;
}

img.fini:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

img.fini:hover
{
transition: width 2s;
-webkit-transition: width 2s; /* Safari */
}

